<uib-tabset active="activeJustified" justified="true">

    <uib-tab tabindex="1" heading="Google Chart">
        <h3>{{survey.Title}}</h3>
        <h4>{{survey.ShortDesc}}</h4>
        <h5>{{survey.LongDesc}}</h5>

        <!-- Map -->
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">

            <ui-gmap-marker data-ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id" events="marker.events">
                <ui-gmap-window>
                    <div>
                        <b>Area: </b>{{marker.area}}
                        <br class="xs-10" />
                        <b>Count: </b>{{marker.count}}
                        <br class="xs-10" />
                        <button class="btn btn-link pull-right" data-ng-click="$parent.clickMe()">Dock It</button>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>

        <br class="xs-10" />
        <!-- Chart -->
        <div data-ng-repeat="chart in chartGroup track by $index">
            <h4>{{chart.options.title}}</h4>
            <div google-chart chart="chart" style="width:100%;"></div>
        </div>

    </uib-tab>
    <uib-tab index="2" heading="General">

        <div class="form-group">
            <h3>{{survey.Title}}</h3>
            <h4>{{survey.ShortDesc}}</h4>
            <h5>{{survey.LongDesc}}</h5>
        </div>
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="40%">Status</th>
                        <th width="60%">Counts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Questions</td>
                        <td><span class="label label-info">{{survey.dtoQuestions.length}}</span></td>
                    </tr>
                    <tr>
                        <td>Visits</td>
                        <td><span class="label label-info">{{survey.VisitCount}}</span></td>
                    </tr>
                    <tr>
                        <td>Answered</td>
                        <td><span class="label label-info">{{survey.CompleteCount}}</span></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="60%">Geo Location</th>
                        <th width="40%">Counts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="geo in geoStatus">
                        <td>{{geo.name}}</td>
                        <td><span class="label label-info">{{geo.count}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="Status">

        <h3>{{survey.Title}}</h3>
        <h4>{{survey.ShortDesc}}</h4>
        <h5>{{survey.LongDesc}}</h5>
        <div class="form-group" data-ng-repeat="q in survey.dtoQuestions">
            <h3>
                <span class="badge alert-success" style="font-size:16px">{{q.QuestionOrder}}</span> {{q.Question}}
            </h3>

            <div data-ng-repeat="i in q.dtoItems" data-ng-class="{'checkbox checkbox-success':q.QuestionType==1, 'radio radio-success':q.QuestionType==2}">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <input type="checkbox" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==1" />
                        <input type="radio" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==2" />
                        <label for="item{{i.QuestionItemId}}">{{i.ItemDescription}}</label>

                    </div>
                    <div class="col-xs-6">
                        <span class="label label-info">{{checkedHashtb[i.QuestionItemId]}}</span>
                    </div>
                </div>
            </div>

        </div>
    </uib-tab>

</uib-tabset>