YuYan.API/packages/
YuYan.API/YuYan.API/obj/
YuYan.API/YuYan.Test/obj/

YuYan.API/YuYan.Data/obj/
YuYan.API/YuYan.Domain/obj/
YuYan.API/YuYan.Interface/obj/
YuYan.API/YuYan.Service/obj/
YuYan.API/YuYan.Test/bin/
YuYan.API/YuYan.API/bin/
YuYan.API/YuYan.Data/bin/
YuYan.API/YuYan.Domain/bin/
YuYan.API/YuYan.Interface/bin/
YuYan.API/YuYan.Service/bin/
YuYan.API/YuYan.Website/node_modules/
YuYan.API/YuYan.Website/obj/
