<div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
        <div class="hidden-xs hidden-sm">
            <h1 data-ng-click="goHome()"><strong><span>&#x7B;&#x7B;</span>{{'TEXT_CHORICE' | translate}}<span>&#x7D;&#x7D;</span></strong></h1>
            <h3>You have a <code>Choice</code>!</h3>
        </div>
        <div class="hidden-md hidden-lg">
            <h2 data-ng-click="goHome()"><strong><span>&#x7B;&#x7B;</span>{{'TEXT_CHORICE' | translate}}<span>&#x7D;&#x7D;</span></strong></h2>
            <h4>You have a <code>Choice</code>!</h4>
        </div>
        <blockquote class="hidden-xs">
            <p>{{'TEXT_HEAD_INTRO' | translate}}</p>
        </blockquote>
        <hr />
    </div>
</div>