<div class="messages">
    <div ng-message="required"><span class="glyphicon glyphicon-exclamation-sign"></span> Required</div>
    <div ng-message="minlength"><span class="glyphicon glyphicon-exclamation-sign"></span> Too short</div>
    <div ng-message="maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> Too long</div>
    <div ng-message="email"><span class="glyphicon glyphicon-exclamation-sign"></span> Invalid email address</div>
    <div ng-message="compareTo"><span class="glyphicon glyphicon-exclamation-sign"></span> Must match the previous entry</div>
</div>
