<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <button type="button" class="btn btn-link" data-ng-click="goHome()">
            &laquo; {{'BTN_HOME' | translate}}
        </button>
        <span class="text-primary"> | </span>
        <button type="button" class="btn btn-link" data-ng-click="goSurvey()">
            {{'BTN_SURVEY' | translate}}
        </button>

        <div>
            <div class="text-center text-primary" style="margin-top: 30px;" data-ng-if="APIMini > APIResolved">
                <br class="xs-20" />
                <i class="fa fa-spinner fa-pulse" style="font-size:48px"></i>
            </div>
            <div data-ng-if="APIMini <= APIResolved">
                <uib-tabset>
                    <uib-tab tabindex="1" heading="Location Statistic">
                        <h3>User answer area location</h3>
                        <!-- Map -->
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">

                            <ui-gmap-marker data-ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id" events="marker.events">
                                <ui-gmap-window>
                                    <div>
                                        <b>Area: </b>{{marker.area}}
                                        <br class="xs-10" />
                                        <b>Answer Counts: </b><span style="font-size:36px;">{{marker.count}}</span>
                                        <br class="xs-10" />
                                        <!--<button class="btn btn-link pull-right" data-ng-click="$parent.clickMe()">Dock It</button>-->
                                    </div>
                                </ui-gmap-window>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </uib-tab>
                    <uib-tab tabindex="2" heading="Answer Statistic">
                        <!--<h3>Answer counts for each question items</h3>-->

                        <div class="pull-right">
                            <br class="xs-10" />
                            
                            Chart Options:&nbsp;
                            <select name="mySelect" id="mySelect"
                                    data-ng-options="option.value for option in charType.options track by option.id"
                                    data-ng-model="charType.selectedOption" data-ng-change="rerenderChart()"></select>
                        </div>


                        <h3>{{survey.Title}}</h3>
                        <h4>{{survey.ShortDesc}}</h4>
                        <h5>{{survey.LongDesc}}</h5>
                        <br class="xs-10" />

                        <div class="form-group" data-ng-repeat="q in survey.dtoQuestions">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3>
                                        <span class="badge alert-success" style="font-size:16px">{{q.QuestionOrder}}</span> {{q.Question}}
                                    </h3>

                                    <div data-ng-repeat="i in q.dtoItems" data-ng-class="{'checkbox checkbox-success':q.QuestionType==1, 'radio radio-success':q.QuestionType==2}">

                                        <div class="col-xs-11 col-xs-offset-1">
                                            <input type="checkbox" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==1" />
                                            <input type="radio" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==2" />
                                            <label for="item{{i.QuestionItemId}}">{{i.ItemDescription}}</label>


                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-8">
                                    <div google-chart chart="chartGroup[{{$index}}]" style="width:100%;"></div>
                                </div>
                            </div>

                        </div>

                    </uib-tab>
                </uib-tabset>

            </div>
        </div>

    </div>
</div>