<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <button type="button" class="btn btn-link" data-ng-click="goHome()">
            &laquo; {{'BTN_HOME' | translate}}
        </button>

        <div>
            <div class="text-center text-primary" style="margin-top: 30px;" data-ng-show="APIMini > APIResolved">
                <br />
                <i class="fa fa-spinner fa-pulse" style="font-size:48px"></i>
            </div>
            <div data-ng-show="APIMini <= APIResolved">

                <button type="button" class="btn btn-link btn-lg pull-right" data-ng-click="addEditSurvey()" data-ng-show="surveys.length>0"><i class="glyphicon glyphicon-plus"></i> {{'BTN_ADD' | translate}} {{'BTN_SURVEY' | translate}}</button>
                <div class="clearfix"></div>
                <hr />
                <div data-ng-show="surveys.length<=0">
                    <button type="button" class="btn btn-link btn-lg" data-ng-click="addEditSurvey()"><i class="glyphicon glyphicon-plus"></i> {{'BTN_ADD' | translate}} {{'TEXT_FIRST' | translate}} {{'BTN_SURVEY' | translate}}</button>
                </div>

                <div class="" data-ng-show="surveys.length>0">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr class="text-primary">
                                <th style="width: 40%">{{'TEXT_TITLE' | translate}}</th>
                                <!--<th style="width: 10%" class="text-center">Questions</th>-->
                                <th style="width: 5%" class="text-center hidden-xs">{{'TEXT_VISITED' | translate}}</th>
                                <th style="width: 5%" class="text-center hidden-xs">{{'TEXT_ANSWERED' | translate}}</th>
                                <th style="width: 60%" class="text-center"><i class="fa fa-cogs"></i> {{'TEXT_ACTION' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="s in surveys">
                                <td>
                                    <small>
                                        {{s.Title}} &nbsp;
                                        <span class="label label-success">{{s.dtoQuestions.length}}</span>
                                    </small>
                                </td>
                                <!--<td class="text-center"><span class="badge alert-info">{{s.dtoQuestions.length}}</span></td>-->
                                <td class="text-center hidden-xs"><span class="badge alert-success">{{s.VisitCount}}</span></td>
                                <td class="text-center hidden-xs"><span class="badge alert-info">{{s.CompleteCount}}</span></td>
                                <td class="text-center">
            
                                    <button type="button" class="btn btn-link btn-sm" data-ng-click="addEditSurvey(s)"><i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm">{{'TEXT_EDIT' | translate}}</span></button>
                                    <div class="btn-group btn-group-sm" uib-dropdown>
                                        <button type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                                            <i class="fa fa-cog"></i> <span class="hidden-xs hidden-sm">{{'BTN_MANAGE' | translate}}</span> <span class="caret"></span>
                                        </button>
                                        <ul uib-dropdown-menu role="menu">
                                            <li role="menuitem"><a href="" data-ng-click="goQuestion(s)"><i class="fa fa-list-ol"></i> {{'TEXT_QUESTIONS' | translate}} <span class="label label-info">{{s.dtoQuestions.length}}</span></a></li>
                                            <li role="menuitem"><a href="" data-ng-click="goResult(s)"><i class="fa fa-newspaper-o"></i> {{'TEXT_RESULTS' | translate}}</a></li>
                                            <li class="divider"></li>
                                            <!--<li role="menuitem"><a href="" data-ng-click="report(s)"><i class="fa fa-bar-chart"></i> {{'TEXT_REPORT' | translate}}</a></li>-->
                                            <li role="menuitem" data-ng-show="s.CompleteCount>0"><a href="" data-ng-click="goStatistic(s)"><i class="fa fa-bar-chart"></i> {{'TEXT_REPORT' | translate}}</a></li>
                                            <!--<li role="menuitem"><a href="" data-ng-click="previewSurvey(s)"><i class="fa fa-share"></i> {{'TEXT_SHARE' | translate}}</a></li>-->
                                        </ul>
                                    </div>
                                    <!--<button type="button" class="btn btn-link btn-sm" data-ng-click="goQuestion(s)"><i class="fa fa-list-ol"></i> <span class="hidden-xs hidden-sm">Question</span></button>
                                    <button type="button" class="btn btn-link btn-sm" data-ng-click="report(s)"><i class="fa fa-bar-chart"></i> <span class="hidden-xs hidden-sm">Report</span></button>
                                    <button type="button" class="btn btn-link btn-sm" data-ng-click="goResult(s)"><i class="fa fa-lightbulb-o"></i> <span class="hidden-xs hidden-sm">Result</span></button>-->
                                    <button type="button" class="btn btn-success btn-sm" data-ng-click="previewSurvey(s)"><i class="fa fa-share-alt"></i> <span class="hidden-xs hidden-sm">{{'TEXT_SHARE' | translate}}</span></button>
                                    <button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteSurvey(s)"><i class="fa fa-remove"></i> <span class="hidden-xs hidden-sm hidden-md">{{'TEXT_DELETE' | translate}}</span></button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <!--total: {{totalItems}}, current: {{currentPage}}
                    APIResolved: {{APIResolved}}, APIMini: {{APIMini}}-->
                    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" data-ng-show="surveys.length>0"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" boundary-link-numbers="true"></uib-pagination>
                </div>
 
                <!--<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">
                </ui-gmap-google-map>-->
            </div>
        </div>
    </div>
</div>