<!DOCTYPE html>
<html>
<head>
    <title>CHORICE - Quick and Easy Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="css/gapcss.css" />
    <link rel="stylesheet" type="text/css" href="css/carousel.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/main.css" />-->
</head>
<body data-ng-app="choriceApp" data-ng-cloak>
    <div data-ng-controller="howtoCtrl">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-link btn-sm" ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-gb"></span></button>
            <button type="button" class="btn btn-link btn-sm" ng-click="changeLanguage('cn')"><span class="flag-icon flag-icon-cn"></span></button>
        </div>
        <div class="clearfix"></div>
        <div class="container marketing">
            <div data-ng-include="'templates/header.html'"></div>
            <div class="row">
                <br class="xs-20" />
                <div class="col-lg-4">
                    <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
                    <i class="fa fa-hand-scissors-o fa-rotate-90" aria-hidden="true" style="font-size:84px"></i>
               
                    <h2>Easy & Quick</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
                    <i class="fa fa-binoculars" aria-hidden="true" style="font-size:84px"></i>
                    <h2>Market Oriented</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size:84px"></i>
                    <h2>Geo Results</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_step1.jpg" style="border:dotted; border-color:#0094ff;" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step2.jpg" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step3.jpg" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step4.jpg" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step5.jpg" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step6.jpg" />
                </div>
            </div>


            <hr class="featurette-divider">

            <footer class="footer">
                <p>Copyright © 2015 Chorice. All rights reserved. </p>
            </footer>

        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

    <script>

        angular.module('choriceApp', ['ui.bootstrap', 'pascalprecht.translate']);

        angular.module('choriceApp').config(['$translateProvider', function ($translateProvider) {
            $translateProvider
           .translations('en', {
               "TEXT_CHORICE": "chorice"
           });

            $translateProvider.useStaticFilesLoader({
                'prefix': 'data/locale-',
                'suffix': '.json'
            });

            $translateProvider.preferredLanguage('en');
            $translateProvider.forceAsyncReload(true);
            $translateProvider.useSanitizeValueStrategy('escape');
        }]);

        angular.module('choriceApp').controller('howtoCtrl', ['$scope', '$translate', function ($scope, $translate) {
            $scope.message = 'How to do survey on Chorice';

            $scope.changeLanguage = changeLanguage;

            function changeLanguage(langKey) {
                $translate.use(langKey);
            };

        }]);

    </script>
</body>
</html>
