<!DOCTYPE html>
<html>
<head>
    <title>CHORICE - Quick and Easy Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/howtocss.css" />
</head>
<body data-ng-app="choriceApp" data-ng-cloak>
    <div data-ng-controller="howtoCtrl">
        <div class="btn-group pull-right">
            <a type="button" href="/" class="btn btn-link btn-sm"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <button type="button" class="btn btn-link btn-sm" ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-gb"></span></button>
            <button type="button" class="btn btn-link btn-sm" ng-click="changeLanguage('cn')"><span class="flag-icon flag-icon-cn"></span></button>        
        </div>
        <div class="clearfix"></div>
        <div class="container marketing">
            <div data-ng-include="'templates/header.html'"></div>
            <div class="row">
                <br class="xs-20" />
                <div class="col-lg-4">
                    <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
                    <i class="fa fa-hand-scissors-o fa-rotate-90" aria-hidden="true" style="font-size:84px"></i>

                    <h2 translate>CHO_FEATURE1</h2>
                    <p translate>CHO_FEATURE1_TEXT</p>
                    <p><a class="btn btn-default" href="/" role="button"><span translate>CHO_START</span> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
                    <i class="fa fa-binoculars" aria-hidden="true" style="font-size:84px"></i>
                    <h2 translate>CHO_FEATURE2</h2>
                    <p translate>CHO_FEATURE2_TEXT</p>
                    <p><a class="btn btn-default" href="/" role="button"><span translate>CHO_START</span> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size:84px"></i>
                    <h2 translate>CHO_FEATURE3</h2>
                    <p translate>CHO_FEATURE3_TEXT</p>
                    <p><a class="btn btn-default" href="/" role="button"><span translate>CHO_START</span> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div><!-- /.col-lg-4 -->
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">

                    <h2 class="featurette-heading"><span translate>CHO_STEP1_H2</span> <span class="text-muted small" translate>CHO_STEP1_H1</span></h2>
                    <p class="lead" translate>CHO_STEP1_TEXT</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_step1.jpg" style="border: groove; border-right-color:#5cb85c;" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading"><span translate>CHO_STEP2_H2</span> <span class="text-muted small" translate>CHO_STEP2_H1</span></h2>
                    <p class="lead" translate>CHO_STEP2_TEXT</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_step2.jpg" style="border: groove; border-left-color:#5cb85c;" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"><span translate>CHO_STEP3_H2</span> <span class="text-muted small" translate>CHO_STEP3_H1</span></h2>
                    <p class="lead" translate>CHO_STEP3_TEXT</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_step3.jpg" style="border: groove; border-right-color:#5cb85c;" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading"><span translate>CHO_STEP4_H2</span> <span class="text-muted small" translate>CHO_STEP4_H1</span></h2>
                    <p class="lead" translate>CHO_STEP4_TEXT</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step4.jpg" style="border: groove; border-left-color:#5cb85c;" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"><span translate>CHO_STEP5_H2</span> <span class="text-muted small" translate>CHO_STEP5_H1</span></h2>
                    <p class="lead" translate>CHO_STEP5_TEXT</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step5.jpg" style="border: groove; border-right-color:#5cb85c;" />
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading"><span translate>CHO_STEP6_H2</span> <span class="text-muted small" translate>CHO_STEP6_H1</span></h2>
                    <p class="lead" translate>CHO_STEP6_TEXT</p>
                    <p><a class="btn btn-default" href="/" role="button">{{'CHO_START_NOW' | translate}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="img/howto/chorice_howto_step6.jpg" style="border: groove; border-left-color:#5cb85c;" />
                </div>
            </div>

            <hr class="featurette-divider">

            <footer class="footer">
                <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2015 Chorice. All rights reserved. </p>
            </footer>

        </div>
    </div>

    <script src="js/howtojs.js"></script>

    <script>

        angular.module('choriceApp', ['ui.bootstrap', 'pascalprecht.translate']);

        angular.module('choriceApp').config(['$translateProvider', function ($translateProvider) {
            $translateProvider
           .translations('en', {
               "TEXT_CHORICE": "chorice"
           });

            $translateProvider.useStaticFilesLoader({
                'prefix': 'data/locale-',
                'suffix': '.json'
            });

            $translateProvider.preferredLanguage('en');
            $translateProvider.forceAsyncReload(true);
            $translateProvider.useSanitizeValueStrategy('escape');
        }]);

        angular.module('choriceApp').controller('howtoCtrl', ['$scope', '$translate', function ($scope, $translate) {
            $scope.message = 'How to do survey on Chorice';

            $scope.changeLanguage = changeLanguage;

            function changeLanguage(langKey) {
                $translate.use(langKey);
            };

        }]);

    </script>
</body>
</html>
