<div class="text-center text-primary" style="margin-top: 30px;" data-ng-show="APIMini > APIResolved">
    <h1 ng-non-bindable><strong>{{chorice}}</strong></h1>
    <h3>You have a <code>Choice</code>! Loading...</h3>
    <br class="xs-10" />
    <!--<i class="fa fa-spinner fa-pulse" style="font-size:48px"></i>-->
    <uib-progressbar class="progress-striped active" max="100" value="100" type="success"><i>progressing...</i></uib-progressbar>
</div>
<div data-ng-show="APIMini <= APIResolved">
    <form name="surveyForm">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div data-ng-show="!submitSuccess">
                    <br class="xs-30" />
                    <div class="well">
                        <img data-ng-show="bannerUrl" data-ng-src="{{bannerUrl}}" class="img-responsive" />
                        <h2>{{survey.Title}}</h2>

                        <h4>{{survey.ShortDesc}}</h4>
                        <h5>{{survey.LongDesc}}</h5>
                        <div class="form-group" data-ng-repeat="q in survey.dtoQuestions">

                            <h3>
                                <span class="badge alert-success" style="font-size:16px">{{q.QuestionOrder}}</span> {{q.Question}}
                            </h3>
                            <div style="padding-left: 40px;" data-ng-repeat="i in q.dtoItems" data-ng-class="{'checkbox checkbox-success':q.QuestionType==1, 'radio radio-success':q.QuestionType==2}">
                                <input type="checkbox" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}"
                                       data-ng-if="q.QuestionType==1" data-ng-model="i.IsChecked" />
                                <input type="radio" data-ng-model="q.QuestionSelectedItemId" data-ng-value="i.QuestionItemId" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}"
                                       data-ng-if="q.QuestionType==2" data-ng-click="radioChecked(q, i)" data-ng-required="!q.QuestionSelectedItemId" />
                                <label for="item{{i.QuestionItemId}}">{{i.ItemDescription}}</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success pull-right" data-ng-disabled="surveyForm.$invalid" data-ng-click="submitSurvey()">Submit</button>
                        <div class="clearfix"></div>
                    </div>
                    <!--<br class="xs-10" />
                    <uib-alert type="info" close="bCloseAlert=1" ng-hide="bCloseAlert">Radio button requires at least one selection.</uib-alert>-->
                    <br class="xs-10" />
                    <img data-ng-show="logoUrl" data-ng-src="{{logoUrl}}" class="img-thumbnail img-responsive" />
                    <br class="xs-40" />
                </div>

                <div class="" style="margin-top: 30px;" data-ng-show="submitSuccess">
                    <img data-ng-show="bannerUrl" data-ng-src="{{bannerUrl}}" class="img-responsive" />
                    <!--<h1 ng-non-bindable><strong>{{chorice}}</strong></h1>
                    <h4>Quick &amp; Easy Survey</h4>-->

                    <div class="">
                        <div data-ng-show="!result.SurveyResultId">
                            <h3>Thanks you!</h3>
                            <h4>We would like to thank you for your participation and attendance at our survey 
                                at CHORICE. Your presence together with your active contributions, feedback and 
                                ideas was greatly appreciated and has gone towards making us a great success.</h4>
                        </div>
                        <div data-ng-show="result.SurveyResultId">
                            <h3>{{result.Title}}</h3>
                            <h4>{{result.Description}}</h4>
                        </div>
                        <br class="xs-10" />
                    </div>
                    <div class="well" data-ng-show="survey.ShowReport">

                        <h2>{{survey.Title}}</h2>

                        <h4>{{survey.ShortDesc}}</h4>
                        <h5>{{survey.LongDesc}}</h5>
                        <div class="form-group" data-ng-repeat="q in survey.dtoQuestions">
                            <h3>
                                <span class="badge alert-success" style="font-size:16px">{{q.QuestionOrder}}</span> {{q.Question}}
                            </h3>

                            <div data-ng-repeat="i in q.dtoItems" data-ng-class="{'checkbox checkbox-success':q.QuestionType==1, 'radio radio-success':q.QuestionType==2}">
                                <div class="row">
                                    <div class="col-xs-5 col-xs-offset-1">
                                        <input type="checkbox" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==1" />
                                        <input type="radio" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==2" />
                                        <label for="item{{i.QuestionItemId}}">{{i.ItemDescription}}</label>

                                    </div>
                                    <div class="col-xs-6">
                                        <span class="label label-info">{{checkedHashtb[i.QuestionItemId]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <br class="xs-10" />
                        <img data-ng-show="logoUrl" data-ng-src="{{logoUrl}}" class="img-thumbnail img-responsive" />
                        <br class="xs-10" />
                        <img class="img-responsive" style="margin: 0px auto;" src="/img/QRcode.png" />

                        <button type="button" class="btn btn-link" data-ng-click="backHome()">Home</button>
                    </div>

                    <br class="xs-10" />
                </div>

            </div>
        </div>
    </form>
</div>
